 <!-- Portfolio Modals Section -->
{% for game in site.games %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{game.uid}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                {% include game.html game=game permalink=true %}
            </div>
        </div>
    </div>
{% endfor %}
