<!-- Game Section -->
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="modal-body">

            <img src="{{include.game.banner}}" class="img-responsive img-rounded" alt="banner">

            <!-- Info Section -->
            <section id="info">
                <h2 class="text-center">Press Kit</h2>
                <hr class="star-primary">

                <div class="row">

                    <!-- Left Section -->
                    <div class="col-lg-6">

                        <!-- Basic Info Section -->
                        <h4>BASIC INFO</h4>
                        <dl class="dl-horizontal">
                            <dt>CATEGORY</dt>
                            <dd>{{include.game.category}}</dd>
                            <dt>DEVELOPER</dt>
                            <dd>{{include.game.developer}}</dd>
                            <dt>PUBLISHER</dt>
                            <dd>{{include.game.publisher}}</dd>
                            <dt>RELEASE</dt>
                            <dd>{{include.game.date | date: '%B, %Y'}}</dd>
                        </dl>

                        <!-- Available On Section -->
                        <h4>AVAILABLE ON</h4>
                        <dl class="dl-horizontal">
                            <dt>PLATFORMS</dt>
                            <dd>{{include.game.platforms | join}}</dd>
                            <dt>STORES</dt>
                            <dd>
                            {% for store in include.game.stores %}
                                <a href="{{site.stores[store.name].image}}">{{site.stores[store.name].title}}</a> 
                            {% endfor %}
                            </dd>
                            <dt>PRICE</dt>
                            <dd>{{include.game.price}}</dd>
                        </dl>

                    </div>

                    <!-- Right Section -->
                    <div class="col-lg-6">

                        <!-- Links Section -->
                        <h4>LINKS</h4>
                        <dl class="dl-horizontal">
                            <dt>WEBSITE</dt>
                            <dd><a href="{{site.url}}">{{site.title}}</a></dd>
                            {% for social in site.socials %}
                            <dt>{{ social.title | upcase }}</dt>
                            <dd><a href="{{social.url}}">{{site.title}}</a></dd>
                            {% endfor %}
                        </dl>

                        <!-- Press Contact Section -->
                        <h4>Press Contact</h4>
                        <dl class="dl-horizontal">
                            <dt>Name</dt>
                            <dd>{{site.members[0].full-name}}</dd>
                            <dt>Email</dt>
                            <dd><a href="mailto@{{site.members[0].email}}">{{site.members[0].email}}</a></dd>
                        </dl>

                    </div>
                </div>
            </section>

            <!-- Overview Section -->
            <section id="overview">
                <h2 class="text-center">Overview</h2>
                <hr class="star-primary">
                <div class="row">
                    {% if include.game.description %}
                    <h3>Description</h3>
                    <p>{{include.game.description}}</p>
                    {% endif %}

                    {% if include.game.story %}
                    <h3>Story</h3>
                    <p>{{include.game.story}}</p>
                    {% endif %}

                    {% if include.game.features %}
                    <h3>Features</h3>
                    <ul>
                        {% for feature in include.game.features %}
                        <li>{{feature}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                
                    {% if include.game.tips %}
                    <h3>How To Play?</h3>
                    <ul>
                        {% for tip in include.game.tips %}
                        <li>{{tip}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </section>

            <!-- Screenshots Section -->
            <section id="screenshots">
                <h2 class="text-center">Screenshots</h2>
                <hr class="star-primary">
                <div class="row">
                    <!-- Images Section -->
                    {% for image in include.game.images %}
                     <div class="col-lg-6 thumb">
                        <a class="thumbnail image-modal" href="#">
                          <img src="{{image.url}}" alt="{{image.alt}}" class="img-responsive">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </section>

            <!-- Logo & Icon Section -->
            <section id="logo-icon">
                <h2 class="text-center">Logo & Icon</h2>
                <hr class="star-primary">
                <div class="row">
                    <ul class="list-unstyled">
                        <li>
                            <img src="{{include.game.logo}}" class="img-responsive" alt="logo">
                        </li>
                        <li>
                            <img src="{{include.game.icon}}" class="img-responsive" alt="icon">
                        </li>
                    </ul>
                </div>
            </section>

            <!-- Version History Section -->
            <section id="version-history">
                <h2 class="text-center">Version History</h2>
                <hr class="star-primary">
                
                <div class="row">
                    <div class="col-lg-12">
                        {% for version in include.game.versions reversed %}
                            <dl class="dl-horizontal">
                                <dt>{{version.number}}</dt>
                                <dd>{{version.description}}</dd>
                            </dl>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>