<!DOCTYPE html>
<html>

    {% include head.html %}

    <body id="page-top" class="index">
    {% include facebook-js.html %}

    {% include navigation.html sections=site.sections %}
    {% include header.html %}

    {% assign sorted_sections = site.sections | sort: 'order' %}
    {% for section in sorted_sections %}
        {% include section.html section=section %}
    {% endfor %}

    {% include footer.html %}
    {% include portfolio-modals.html %}

    {% include js.html %}
    {% include twitter-js.html %}
    </body>
</html>
