<!DOCTYPE html>
<html>

    {% include head.html %}

    <body id="page-top" class="index">

    {% include navigation.html %}

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{page.title}}</h2>
                <h3 class="section-subheading">{{page.date | date: '%B %d, %Y'}}</h3>
            </div>
        </div>

        <hr class="star-primary">

        {{ content }}

        <hr class="star-primary">

    </div>

    {% include footer.html %}
    {% include js.html %}

    </body>
</html>
