---
sections:
  - name: info
    title: Info
  - name: overview
    title: Overview
  - name: screenshots
    title: Screenshots
  - name: logo-icon
    title: Logo & Icon
  - name: version-history
    title: Version History
---
<!DOCTYPE html>
<html>

    {% include head.html %}

    <body id="page-top" class="index">
    {% include navigation.html sections=layout.sections %}

    <div class="container">
        {% assign game = site.games[page.game-id] %}
        {% include press-kit.html game=game %}
    </div>

    {% include footer.html %}
    {% include js.html %}
    {% include image-modal.html %}

    </body>
</html>
